ipynb_checkpoints
.ipynb_checkpoints/simulation-checkpoint.ipynb
.ipynb_checkpoints/plots-checkpoint.ipynb
.ipynb_checkpoints/testing-checkpoint.ipynb
.ipynb_checkpoints/testing-checkpoint.ipynb
.ipynb_checkpoints/testing-checkpoint.ipynb
